<app-navbar></app-navbar>

<section class="bg-black text-white py-24 min-h-screen">
  <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-14 items-center">
    <div>
      <img
        src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&w=1200&auto=format&fit=crop"
        class="rounded-3xl shadow-2xl"
        alt=""
      />
    </div>

    <div class="space-y-6">
      <h1 class="text-5xl font-bold">
        About <span class="text-yellow-400">Rentixo</span>
      </h1>

      <p class="text-gray-300 text-lg leading-8">
        Rentixo provides premium car rental services with modern luxury cars,
        affordable pricing and professional customer support.
      </p>

      <p class="text-gray-400">
        Our mission is to make every journey comfortable, stylish and memorable.
      </p>

      <button
        class="bg-yellow-400 hover:bg-yellow-300 text-black px-6 py-3 rounded-xl font-semibold duration-300"
      >
        Learn More
      </button>
    </div>
  </div>
</section>

<app-footer></app-footer>
